* {
    font-family: 'Courier New', Courier, monospace;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  
.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
.carousel-img {
    width: 100%;
    max-width: 100%;
    height: auto;
    opacity: 0; /* Start with 0 opacity */
    transition: opacity 0.3s ease; 
  }
  